{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='controller.css') }}" />
{% endblock %}

{% block content %}

  <div class="stuff-block">
    <h2>frame streams</h2>
    <ul>
      {% for stream in frames  %}
        <li>{{ stream }} <a href="{{ url_for('stream', frames=stream) }}">stream</a> / <a href="{{ url_for('clean', video=stream) }}">clean</a></li>
      {% else %}
        <li><i>none</i></li>
      {% endfor %}
    </ul>
  </div>

  <div class="stuff-block">
    <h2>unchopped videos</h2>
    <ul>
      {% for video in unchopped %}
        <li>{{ video }} <a href="{{ url_for('chop', video=video) }}">chop</a></li>
      {% else %}
        <li><i>none</i></li>
      {% endfor %}
    </ul>
  </div>

  <div class="control-block">
    <h2>streaming ({{ state.interval }}s)</h2>
    <div id="streamer"></div>
    <div class="progress"></div>
    <p>
      <button class="bump back">&laquo; back</button>
      <button class="startstop">start</button>
      <button class="bump forward">forward &raquo;</button>
      <button class="mirror">Mirror</button>
    </p>
  </div>

{% endblock %}
